.descricao-site{
    text-align: center;
}

@media (max-width:767px){
    .table-responsive-sticky-x-sm{
        padding: 0;
    }
    .table-responsive-sticky-x-sm table tbody tr td:first-child, .table-responsive-sticky-x-sm table thead tr th:first-child  {
        position: sticky;
        left: 0;
        background: white;
    }
    .titulo-apresentacao{
        font-size: 21px;;
    }
    .descricao-site{
        font-size: 14px;
        line-height: 20px;
        text-align: justify !important;
        margin: 0 10px 16px 10px;
    }

    .content-options{
        margin-right: 10px;
        margin-left: 10px;
        margin-bottom: 10px;
    }
    .btn-dl-excel{
        margin-left: 10px;
        margin-right: 10px;
    }
}


