.scroll {
  overflow: scroll;
  height: 90vh;
}

th {
  position: sticky;
  top: 0;
  z-index: 1;
  background: white;
}

table thead th:first-child {
  position: sticky;
  left: 0;
  z-index: 2;
  background: white;
}

.first-col {
  position: sticky;
  left: 0;
  background: white;
}






